@model MicrofyWebApp.Models.AuditViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var status = "";
    ViewData["Title"] = "Application";
    var applname = string.Empty;
    var custname = string.Empty;
    var auditor = string.Empty;
    List<string> multiuserVal = new List<string>();
    var flag = "Save";
    if (Model.project != null)
    {
        applname = Model.project.ProjectName;
        custname = Model.project.CustomerName;
        auditor = Model.project.Auditor;
        multiuserVal = Model.project.Users;
        flag = "Update";
    }
    var role = HttpContextAccessor.HttpContext.Session.GetString("_UserRole");

    var displaymode = "readonly";
    var disable = "disabled";
    if (role != "Auditor")
    {
        displaymode = "";
        disable = "";
    }
    if (flag == "Update")
    {
        displaymode = "readonly";
        disable = "";
    }
}
<style type="text/css">
.dropdown-menu.show {
    margin-left: -250px;
}    
</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Welcome to Cumulus</title>
    <link rel="stylesheet" href="~/lib/jquery/dist/css/jquery-confirm.css" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


    <!-- jQuery library file -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    @*<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
        <link rel="stylesheet" media="screen" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' />*@


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-confirm.js"></script>

</head>
<style type="text/css">

    .justify-content-lg-center {
        justify-content: left !important;
    }

    .input-group-addon {
        padding: 6px 20px !important;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: -0.5em !important;
        margin-bottom: 0.1em !important;
        vertical-align: -0.01em !important;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
</style>
<body>
    <div class="container-fluid" style="margin-left:15px;">

        <div id="divbreadcrumb" style="padding-bottom:5px;">
            <ol class="breadcrumb breadcrumb-arrow">
                <li class="homelink"><a href="~/Repository/Dashboard">Home</a></li>
                <li class="active"><span>Application</span></li>
            </ol>
        </div>
        <div class="content">
            <div>
                <form class="well form-horizontal" action=" " method="post" id="UpdateProjectList_form">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span> Application Name</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="projectname" id="projectname" placeholder="Application Name" class="form-control" value="@applname" @displaymode>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span> Customer Name</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="customername" id="customername" placeholder="Customer Name" class="form-control" type="text" required value="@custname" @displaymode>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span> Users</label>
                            <div class="col-md-4 inputGroupContainer">
                                <select multiple="multiple" id="users" class="form-control selectpicker  multiselect" data-live-search="true" data-field="multiselect">
                                    @foreach (var item in Model.ListUsers)
                                    {
                                        @if (multiuserVal.Count > 0)
                                        {
                                            if (multiuserVal.Contains(item))
                                            {
                                                <option value="@item" selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span>  Solution Collaborator</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <select id="auditor" class="col-md-12 form-control selectpicker " @disable>
                                        <option value="">Select</option>
                                        @foreach (var item in Model.ListAuditor)
                                        {
                                            if (auditor.Equals(item))
                                            {
                                                <option value="@item" selected>@item</option>
                                            }
                                            else
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-7 control-label ">
                                <button type="submit" id="btnsave" style="display:block;" class="btn btn-primary pull-right" data-flag="@flag"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
           $(document).ready(function () {
                $('#users.multiselect').multiselect({
                   includeSelectAllOption: true,
                   buttonWidth: '180px'
               });
                $('.multiselect.dropdown-toggle').click(function(){
                if($('.multiselect-container').hasClass('show'))
                    $('.multiselect-container').removeClass('show');
                else
                    $('.multiselect-container').addClass('show');
                });


           $("#btnsave").click(function () {
                   var projectname = $('#projectname').val();
                   var customername = $('#customername').val();
                   var users = $('#users').val();
                   var auditor=$('#auditor').val();

                   if(projectname==""){
                        $.alert({
                           title: "Error",
                           content: "Enter Application Name",
                           type: "red"
                       });
                       return false;
                   }
                   if(customername==""){
                        $.alert({
                           title: "Error",
                           content: "Enter Customer Name",
                           type: "red"
                       });
                       return false;
                   }
                   if(users==""){
                        $.alert({
                           title: "Error",
                           content: "Select Users",
                           type: "red"
                       });
                       return false;
                   }
                   if(auditor==""){
                        $.alert({
                           title: "Error",
                           content: "Select Solution Collaborator",
                           type: "red"
                       });
                       return false;
                   }
                   var ProjectDetails = {
                   "ProjectName": projectname,
                   "CustomerName": customername,
                   "Auditor": auditor,
                   "Users": users,
                   "flag":$(this).data("flag")
                   }
                   var redirecturl = "/Application/UpdateProject";
               $.post(redirecturl, { "project": ProjectDetails }, function (data) {
                   var title = "";
                   var type = "";
                   var content="";
                   if (data.statusCode == true) {
                       title = "Success!!";
                       type = "green";
                       content="Application created successfully";
                   }
                   else {
                       title = "Error!!";
                       type = "red";
                       content=data.responseMessage;
                   }
                   $.alert({
                           title: title,
                           content: content,
                           type: type,
                           onAction: function () {
                               window.location.href = '@Url.Action("Application","Application")';
                           }
                       });
               })
               .fail(function (response) {
                   $.alert({
                       title: 'Error!!',
                       content: response,
                       alignMiddle: true,
                       type: 'red'
                   });
               });
               return false;
       });
    });

               function reset(){
                   $('#projectname').val("");
                 $('#customername').val("");
                 $('#users').val("");
                 $('#auditor').val("");
               }
</script>