@model MicrofyWebApp.Models.AuditViewModel
@using System.Text.RegularExpressions
@{
    string FirstPanel = string.Empty;
    string LastPanel = string.Empty;
    string isactivenav = "active";
}

<title>@ViewData["Title"] - Welcome to Cumulus</title>
<link rel="stylesheet" href="~/css/audit.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<style type="text/css">
    .dropdown-menu.show {
        margin-left: -250px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12" style="padding-left: 15px;">
            <div id="divbreadcrumb">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li class="homelink"><a href="~/Repository/Dashboard">Home</a></li>
                    <li class=""><a href="~/Application/Project">Application</a></li>
                    <li class="active"><span>@Model.projectname</span></li>

                </ol>
            </div>

        </div>
        @* @using (Html.BeginForm("Export", "Application", FormMethod.Post))
        {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
        }*@
        <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-md-12">
                    <div class="card">
                        <div class="row col-md-12">
                            <div class="form-group col-md-10 row ">
                                <label class="control-label col-md-5">
                                    <strong>Solution Collaborator :</strong> @Model.project.Auditor
                                </label><br>
                                <label class="control-label col-md-5">
                                    <strong>Status : </strong> @Model.project.Status
                                </label>

                            </div>
                            <div class="form-group col-md-2 row ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <!-- progressbar -->
                                @*<ul id="progressbar">
                                <li class="active" id="project"><strong>Application Overview</strong></li>
                                <li id="checklist"><strong>Checklist</strong></li>
                                <li id="observations"><strong>Observation</strong></li>
                                <li id="action"><strong>Action Items</strong></li>
                                <li id="summary"><strong>Summary</strong></li>
                                </ul>*@
                                <!-- fieldsets -->

                                <div class="form-card" id="ProjectDetails" name="Project Details" data-projectname="@Model.project.ProjectName" data-customername="@Model.project.CustomerName">
                                    <label class="col-md-12" style="padding: 5px 5px; font-size: 1.2rem;background: #eee;width:98.5%">
                                        <strong>Application Overview</strong>
                                    </label>
                                    <div class="row col-md-12">
                                        <div class="form-group col-md-12 row ">
                                            <label class="control-label col-md-3">
                                                <strong>Application Name</strong>

                                            </label>
                                            <label class="control-label col-md-3">
                                                @Model.project.ProjectName
                                            </label>
                                            <label class="control-label col-md-3">
                                                <strong>Customer Name</strong>

                                            </label>
                                            <label class="control-label col-md-3">
                                                @Model.project.CustomerName
                                            </label>

                                        </div>

                                    </div>
                                    @if (Model.ProjectDetails == null)
                                    {
                                        <div class="row col-md-12">
                                            <div class="form-group col-md-12 row ">
                                                <label class="control-label col-md-3">
                                                    <strong>Customer Overview</strong>

                                                </label>
                                                <label class="control-label col-md-9">
                                                </label>
                                            </div>
                                            <div class="form-group col-md-12 row">
                                                <label class="control-label col-md-3">
                                                    <strong>Application Overview</strong>

                                                </label>
                                                <label class="control-label col-md-9">
                                                </label>
                                            </div>
                                            <div class="form-group col-md-12 row">
                                                <label class="control-label col-md-3">
                                                    <strong>Start Date</strong>
                                                </label>
                                                <label class="control-label col-md-3">
                                                </label>
                                                <label class="control-label col-md-3">
                                                    <strong>Tentative End Date</strong>
                                                </label>
                                                <label class="control-label col-md-3">
                                                </label>
                                            </div>

                                            <div class="form-group col-md-12 row">
                                                <label class="control-label col-md-3">
                                                    <strong>Deliverables</strong>
                                                </label>
                                                <label class="control-label col-md-3">
                                                </label>
                                                <label class="control-label col-md-3">
                                                    <strong>Application Architecture</strong>
                                                </label>
                                                <label class="control-label col-md-3">
                                                </label>
                                            </div>

                                            <div class="form-group col-md-12 row">
                                                <label class="control-label col-md-3">
                                                    <strong>Technologies in Use</strong>

                                                </label>
                                                <label class="control-label col-md-9">
                                                </label>
                                            </div>
                                            <div class="form-group col-md-12 row">
                                                <label class="control-label col-md-3">
                                                    <strong>Azure Services Used</strong>

                                                </label>
                                                <label class="control-label col-md-5">
                                                </label>
                                            </div>
                                            <div class="form-group col-md-12 row">
                                                <table cellpadding="5" cellspacing="0" style="margin-left:15px; border: 1px solid #ccc; font-size: 11pt;" id="tbservice" class="table table-bordered table-hover" name="AzureServicesUsed">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th style="background-color: #B8DBFD; border: 1px solid #ccc">Product Category</th>
                                                            <th style="background-color: #B8DBFD; border: 1px solid #ccc">Services</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @await Html.PartialAsync("VW_VIEW_AUDIT", Model)
                                    }
                                    @if (Model.BestPractices != null)

                                    {
                                        <label class="col-md-12" style="padding: 5px 5px; font-size: 1.2rem;background: #eee; width:98.5%">
                                            <strong>Checklist</strong>
                                        </label>
                                        <div class="rounded shadow mr-3 pt-2 ">
                                            <ul class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 " style="font-size:x-small" id="nav-tab" role="tablist">
                                                @foreach (var mod in Model.BestPractices.Select((value, i) => new { i, value }))
                                                {
                                                    FirstPanel = Model.BestPractices.First().Service;
                                                    isactivenav = string.Empty;
                                                    if (FirstPanel == mod.value.Service)
                                                    {
                                                        isactivenav = "active";
                                                    }

                                                    <li class="nav-item flex-sm">
                                                        <a class="nav-link border-0 text-uppercase font-weight-bold  @isactivenav" role="tab" aria-controls="Repository" aria-selected="true" data-toggle="tab" href="#@mod.value.Service.Substring(0, 3).Replace(" ", "")_@mod.i">@mod.value.Service</a>
                                                    </li>

                                                }

                                            </ul>

                                        </div>
                                        <div class="tab-content mr-3" id="bestPracDiv">
                                            @foreach (var mod in Model.BestPractices.Select((value, i) => new { i, value }))
                                            {
                                                FirstPanel = Model.BestPractices.First().Service;
                                                isactivenav = string.Empty;
                                                if (FirstPanel == mod.value.Service)
                                                {
                                                    isactivenav = "active show";
                                                }

                                                <div id="@mod.value.Service.Substring(0, 3).Replace(" ", "")_@mod.i" role="tabpanel" aria-labelledby="@mod.value.Service.Substring(0, 3).Replace(" ", "")_@mod.i-tab" class="tab-pane py-3 fade @isactivenav">
                                                    @foreach (var ipsection in mod.value.BestPractices.Select((value, i) => new { i, value }))
                                                    {

                                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingOne">
                                                                    <h6 class="panel-title">
                                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@ipsection.value.ImpactArea.Substring(0, 3).Replace(" ", "")_@ipsection.i" aria-expanded="false" aria-controls="@ipsection.value.ImpactArea.Substring(0, 3).Replace(" ", "")_@ipsection.i">
                                                                            @ipsection.value.ImpactArea
                                                                        </a>
                                                                    </h6>
                                                                </div>
                                                                <div id="@ipsection.value.ImpactArea.Substring(0, 3).Replace(" ", "")_@ipsection.i" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                                    <div class="panel-body">
                                                                        @foreach (var checklist in ipsection.value.Checklist)
                                                                        {
                                                                            <div class="form-group row col-md-12" style="display: flex; margin-bottom: 0.1rem;">
                                                                                <label class="control-label col-md-12">
                                                                                    <b>@checklist.Title</b>

                                                                                    <p class="practicedesp">
                                                                                        @{
                                                                                            Regex r = new Regex(@"(https?://[^\s]+)");
                                                                                            var myString = r.Replace(checklist.Description, "<a href=\"$1\" style=\"color: #0366d6;\">$1</a>");
                                                                                        }
                                                                                        @Html.Raw(myString)
                                                                                    </p>

                                                                                </label>

                                                                            </div>
                                                                            <div class="form-group row col-md-12">
                                                                                <label class="control-label col-md-6">
                                                                                    <strong>Action : </strong>@checklist.Input.Value

                                                                                </label>

                                                                                @{
                                                                                    var displayatt = "none";
                                                                                    if (checklist.Input.Value != "Required – Implemented" && checklist.Input.Value != "")
                                                                                    {
                                                                                        displayatt = "block";
                                                                                    }
                                                                                }
                                                                                <label class="control-label col-md-6" style="display:@displayatt;">
                                                                                    <strong>Remarks : </strong>@checklist.Input.Remarks

                                                                                </label>
                                                                            </div>
                                                                            <hr class="solid">
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                    <div class="form-group col-md-12 row">
                                        <label class="col-md-12" style="padding: 5px 5px; font-size: 1.2rem;background: #eee;width:98.5%">
                                            <strong>Observation</strong>
                                        </label>
                                        <table cellpadding="5" cellspacing="0" style="margin-left:15px; border: 1px solid #ccc; font-size: 11pt;" id="tbobserv" class="table table-bordered table-hover" name="Observation">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Impact Area</th>
                                                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Observation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Observations != null)
                                                {
                                                    foreach (var obs in Model.Observations.Select((value, i) => new { i, value }))
                                                    {
                                                        <tr data-row="@obs.i+1">
                                                            <td name="ImpactArea" style="width: 120px; border: 1px solid #ccc">
                                                                @obs.value.ImpactArea
                                                            </td>
                                                            <td name="Observation" style="width: 120px; border: 1px solid #ccc">
                                                                @obs.value.Observation
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <label class="col-md-12" style="padding: 5px 5px; font-size: 1.2rem;background: #eee; width:98.5%">
                                            <strong>Action Items</strong>
                                        </label>
                                        <table cellpadding="5" cellspacing="0" style="margin-left:15px; border: 1px solid #ccc; font-size: 11pt;" id="tbactionitems" class="table table-bordered table-hover" name="ActionItems">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Impact Area</th>
                                                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Severity</th>
                                                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Concern</th>
                                                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Recommended Mitigation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ActionItems != null)
                                                {
                                                    foreach (var obs in Model.ActionItems.Select((value, i) => new { i, value }))
                                                    {
                                                        <tr data-row="@obs.i+1">
                                                            <td name="ImpactArea" style="width: 120px; border: 1px solid #ccc">
                                                                @obs.value.ImpactArea
                                                            </td>
                                                            <td name="Severity" style="width: 120px; border: 1px solid #ccc">
                                                                @obs.value.Severity
                                                            </td>
                                                            <td name="Concern" style="width: 120px; border: 1px solid #ccc">
                                                                @obs.value.Concern
                                                            </td>
                                                            <td name="RecommendedMitigation" style="width: 120px; border: 1px solid #ccc">
                                                                @obs.value.RecommendedMitigation
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="lds-dual-ring" id=loader></div>*@
        @* <div id='loader' style='display: none;'>
        <img src="~/Image/loading.gif" width='32px' height='32px'>
        </div>*@
        <div class="loading" style="display:none;">Loading&#8230;</div>
    </div>

</body>
</html>
@section scripts{
    <script type="text/javascript">
        //var service = @Html.Raw(Json.Serialize(Model.Configuration));
        $(function() {
            $("#btnSubmit").click(function() {
                $("input[name='GridHtml']").val($("#ProjectDetails").html());
            });
        });
        $(document).ready(function() {
            $("#prodcat").change(function() {
                var end = this.value;
                var val = $('#prodcat').val();
                var config;
                $.ajax({
                    async: false,
                    type: "GET",
                    url: "/Application/GetServiceByProductCategory",
                    data: { "prodcat": val },
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        config = data;
                    },
                    error: function(data) {
                        console.log(JSON.stringify(data));
                    }
                });
                $('#ddlserv').empty()
                if (val == "Select") {
                    $('#divserv').hide();
                }
                var serviceslist = $.parseJSON(config);
                for (var i = 0; i < serviceslist.services.length; i++) {
                    jQuery('#ddlserv').append(jQuery("<option></option>").val(serviceslist.services[i].serviceName).text(serviceslist.services[i].serviceName));
                }
                $("#ddlserv.multiselect").multiselect('destroy');
                $("#ddlserv.multiselect").multiselect({
                    includeSelectAllOption: true
                });
                $('#divserv').show();
            });
        });


        function addservices() {
            var pdcat = $('#prodcat').val();
            var ser = $('#ddlserv').val();
            var rowctr = $("#tbservice").rowCount();
            var lasttr = 0;
            if (rowctr <= 0) {
                lasttr = 1;
            }
            else {
                lasttr = $("#tbservice").find("tr").last().data('row');
                lasttr = lasttr + 1;
            }
            var tablevalues = "<tr data-row='" + lasttr + "'>";
            tablevalues += "<td name='ProductCategory'>" + pdcat + "</td>";
            tablevalues += "<td name='Services'>" + ser + "</td>";
            tablevalues += '<td><a href="" class="delete"  onclick="fndelete(this);return false;"><i class="fa fa-trash" style="font-size:18px"></i></a></td>';
            tablevalues += "</tr>";

            $("#tbservice").find('tbody').append(tablevalues);
            $('#prodcat').val("Select");
            $('#divserv').hide();
        }

        function addobservation() {
            var impactarea = $('#impactarea').val();
            var observation = $('#observation').val();
            var rowctr = $("#tbobserv").rowCount();
            var lasttr = 0;
            if (rowctr <= 0) {
                lasttr = 1;
            }
            else {
                lasttr = $("#tbobserv").find("tr").last().data('row');
                lasttr = lasttr + 1;
            }
            var tablevalues = "<tr data-row='" + lasttr + "'>";
            tablevalues += "<td name='ImpactArea'>" + impactarea + "</td>";
            tablevalues += "<td name='Observation'>" + observation + "</td>";
            tablevalues += '<td><a href="" class="delete"  onclick="fndelete(this);return false;"><i class="fa fa-trash" style="font-size:18px"></i></a></td>';
            tablevalues += "</tr>";

            $("#tbobserv").find('tbody').append(tablevalues);
            $('#impactarea').val("");
            $('#observation').summernote('code', '');
        }
        function addActionItem() {
            var impactarea = $('#ImpactArea').val();
            var Severity = $('#Severity').val();
            var concern = $('#concern').val();
            var RecommendedMitigation = $('#RecommendedMitigation').val();
            var rowctr = $("#tbactionitems").rowCount();
            var lasttr = 0;
            if (rowctr <= 0) {
                lasttr = 1;
            }
            else {
                lasttr = $("#tbactionitems").find("tr").last().data('row');
                lasttr = lasttr + 1;
            }
            var tablevalues = "<tr data-row='" + lasttr + "'>";
            tablevalues += "<td name='ImpactArea'>" + impactarea + "</td>";
            tablevalues += "<td name='Severity'>" + Severity + "</td>";
            tablevalues += "<td name='Concern'>" + concern + "</td>";
            tablevalues += "<td name='RecommendedMitigation'>" + RecommendedMitigation + "</td>";
            tablevalues += '<td><a href="" class="delete"  onclick="fndelete(this);return false;"><i class="fa fa-trash" style="font-size:18px"></i></a></td>';
            tablevalues += "</tr>";

            $("#tbactionitems").find('tbody').append(tablevalues);
            $('#ImpactArea').val("");
            $('#Severity').val("Select");
            $('#concern').summernote('code', '')
            $('#RecommendedMitigation').summernote('code', '')

        }

        function fndelete(e) {
            $(e).closest("tr").remove();
            return false;
        }
    </script>
}
    <script type="text/javascript">
        function Loadchecklist(projectname, customername) {

            $.ajax({
                async: false,
                type: "GET",
                url: "/Application/LoadChecklist",
                data: { "projectname": projectname, "customername": customername },
                contentType: "application/json; charset=utf-8",
                beforeSend: function() {
                    // Show image container
                    $("div.loading").show();

                },
                success: function(data) {
                    $("#ChecklistServices").html(data);
                },
                error: function(data) {
                    console.log(JSON.stringify(data));
                },
                complete: function(data) {
                    // Hide image container
                    $("div.loading").hide();

                }
            });
            return false;
        }

        function LoadSummary(projectname, customername) {

            $.ajax({
                async: false,
                type: "GET",
                url: "/Application/LoadSummary",
                data: { "projectname": projectname, "customername": customername },
                contentType: "application/json; charset=utf-8",
                beforeSend: function() {
                    // Show image container
                    $("div.loading").show();

                },
                success: function(data) {
                    $("#Summary").html(data);
                },
                error: function(data) {
                    console.log(JSON.stringify(data));
                },
                complete: function(data) {
                    // Hide image container
                    $("div.loading").hide();

                }
            });
            return false;
        }

    </script>
    <script type="text/javascript">

        $(document).ready(function() {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;

            $(".next").click(function() {
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();
                var next_divname = $(next_fs).children().attr('name');

                var inputdiv = $(this).parent().children().attr('id');
                var divname = $(this).parent().children().attr('name');
                var projectname = $('#' + inputdiv).data('projectname');
                var customername = $('#' + inputdiv).data('customername');

                if (divname == "Project Details") {
                    $("div.loading").show();
                    if (next_divname == "Checklist Services") {
                        Loadchecklist(projectname, customername);
                    }
                }
                if (next_divname == "Summary") {
                    LoadSummary(projectname, customername);
                }

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function(now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
                return false;
            });

            $(".previous").click(function() {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function(now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 600
                });
            });



            $('.multiselect').multiselect({
                includeSelectAllOption: true, maxwidth: '200px', buttonWidth: '180px'
            });
            $('textarea').summernote({
                //placeholder: 'Enter Description',
                tabsize: 2,
                height: 100,
                toolbar: [
                    /*['style', ['style']],*/
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    //// ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ////['fontname', ['fontname']],
                    //// ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    //['height', ['height']],
                    //['table', ['table']],
                    //['insert', ['link', 'picture', 'hr']],
                    ////['view', ['fullscreen', 'codeview']],
                    ['help', ['help']]
                ],
            });
        });

    </script>