@model MicrofyWebApp.Models.ChecklistPlanViewModel

<title>@ViewData["Title"] - Welcome to Cumulus</title>
<link rel="stylesheet" href="~/lib/jquery/dist/css/jquery-confirm.css" />


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


<!-- jQuery library file -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
@*<link rel="stylesheet" media="screen" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' />*@

<!-- Datatable plugin CSS file -->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />-->
<!-- Datatable plugin JS library file -->
<!--<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery-confirm.js"></script>-->


<style type="text/css">
    .modal-dialog {
        right: auto;
        left: 0% !important;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* .justify-content-lg-center {
        justify-content: left !important;
    }*/
</style>

<div class="container">
    <div class="col-md-12" style="padding-left: 15px;">
        <div id="divbreadcrumb">
            <ol class="breadcrumb breadcrumb-arrow">
                <li class="homelink"><a href="~/Home/Dashboard">Home</a></li>
                <li class=""><a href="~/Home/Dashboard">Checklist</a></li>
                <li class="active"><span>Plan</span></li>

            </ol>
        </div>
        @*<div class="col-sm-2 col-sm-pull-12">
                <div id="newdocdiv" style="display:none;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUploadCenter">
                        <i class="fa fa-plus" aria-hidden="true"></i> New Document
                    </button>
                </div>

            </div>*@
    </div>
    <div class="row col-md-12">
        <div class="col-md-1">
            <button type="button" id="btnTable" class="btn btn-primary">
                <i class="fa fa-table"></i>
            </button>
        </div>
        <div class="col-md-1">
            <button type="button" id="btnchart" class="btn btn-primary">
                <i class="fa fa-chart-bar"></i>
            </button>
        </div>
        <div class="col-md-10">
            <div class="float-right" id="Proj">
                <select name="project" id="projectname" style="margin-right:10px;" class="form-control selectpicker">
                    @*<option value="AzureService">Project Name</option>*@
                    @foreach (var mod in Model.projects)
                    {
                        if (mod.projectName == Model.selectedProjectname)
                        {
                            <option selected value="@mod.projectName">@mod.projectName</option>
                        }
                        else
                        {
                            <option value="@mod.projectName">@mod.projectName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row col-md-12 pt-2">
        @*<div class="col-md-1">
                <button type="button" id="btnTable" class="btn btn-primary">
                    <i class="fa fa-table"></i>
                </button>
            </div>*@
        <div class="col-md-2">
            <a href="#" id="btnAdd" class="btn btn-primary">
                <i class="fa fa-plus"></i> Add
            </a>
        </div>
        <div class="col-md-10">
            <div class="float-right" id="btnadd">
                <a href="#" class="btn btn-primary"> Cancel</a>
                <a href="#" class="btn btn-primary" id="btnSaveChanges"> Save Changes</a>
            </div>
        </div>
    </div>
    <div style="padding-top:5px;">
        <table id="tableID" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Phases</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th data-orderable="false"></th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var plan in Model.Plans.Select((value, i) => new { i, value }))
                {
                    <tr data-row="@plan.i">
                        <td>@plan.value.PhaseName</td>
                        <td>@plan.value.Start</td>
                        <td>@plan.value.End </td>
                        <td>
                            @{
                                var check = string.Empty;
                                if (plan.value.HasValue == true)
                                    check = "checked";
                            }
                            <input type="checkbox" @check />
                        </td>
                        <td>
                            <a href="" class="planedit" title="Edit Plan" onclick="fnedit(this);return false;">
                                <span class="fa fa-pencil" style="font-size:25px;"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <!--HTML table with student data-->


</div>
<div class="modal fade" id="PlanEditPopup" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Edit Plan Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="well form-horizontal" action=" " method="post" id="UpdateUserList_form">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span> Phase Name</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    <input name="phase_name" id="phase_name" placeholder="Phase Name" class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span>  Start Date</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    @*<input name="first_name" id="first_name" placeholder="User Name" class="form-control" type="text" required>
                                        <span data-alertid="first_name"></span>*@
                                    <div class="input-group">
                                        <input class="form-control datefield" data-val="true" data-val-required="Date is required" placeholder="Start Date" id="startdate" name="StartDate" type="date" value="1/11/1989">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"><span style="color:red;">*</span>  End Date</label>
                            <div class="col-md-6 inputGroupContainer">
                                <div class="input-group">
                                    @*<input name="first_name" id="first_name" placeholder="User Name" class="form-control" type="text" required>
                                        <span data-alertid="first_name"></span>*@
                                    <input class=" form-control datefield" data-val="true" data-val-required="Date is required" placeholder="End Date"
                                           id="enddate" name="EndDate" type="date" value="1/11/1989" />
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4 control-label">
                                <button type="button" class="btn btn-primary" data-buttontype="save" style="display:block;" onclick="AddValues()">Save changes</button>
                                <button type="button" class="btn btn-primary" data-buttontype="update" data-rowid="0" style="display:none;" onclick="UpdateValues()">Update changes</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    /* Initialization of datatable */
    $(document).ready(function () {
        $('#tableID').DataTable({ searching: false, paging: false, info: false, ordering: false });

        $('#btnAdd').click(function () {
            $('#PlanEditPopup').find('button[data-buttontype="update"]').hide();
            $('#PlanEditPopup').find('button[data-buttontype="save"]').show();
            $("#PlanEditPopup").modal("show");
            return false;
        });

        $('#btnSaveChanges').click(function () {
            debugger;
            var table = $('#tableID');
            var Plan = [];
            $("#tableID > tbody > tr").each(function () {
                var phasename = $(this).find('td').eq(0).text();
                var start = $(this).find('td').eq(1).text();
                var end = $(this).find('td').eq(2).text();
                var isactive = $(this).find('td').eq(3).find("input[type='checkbox']").is(":checked");
                if (isactive) {
                    var ip = {
                        "PhaseName": phasename,
                        "Start": start,
                        "End": end
                    }
                    Plan.push(ip);
                }
            });
            var projectname = $("#projectname").val();
            var input = {
                "ProjectName": projectname,
                "Plan": Plan
            };
            var redirecturl = "/Checklist/InsertChecklistPlan";
            $.post(redirecturl, { "data": JSON.stringify(input) }, function (data) {
                var title, Message, type;
                if (data.isSuccess) {
                    title = 'Success!!';
                    Message = data.data;
                    type = "green";
                    $.alert({
                        title: title,
                        content: Message,
                        type: type,
                        onAction: function () {
                            window.location.href = "/Checklist/ChecklistPlan?projectname=" + projectname
                                ;
                        }
                    });
                }
                else {
                    title = 'Error!!';
                    Message = data.data;
                    type = "red";
                    $.alert({
                        title: title,
                        content: Message,
                        type: type
                    });
                }

            });
            return false;
        });

        $('#projectname').change(function (e) {
            console.log($(e.target).val());
            var projectname = $(e.target).val();
            window.location.href = "/Checklist/ChecklistPlan?projectname=" + projectname;

        });

    });



    function fnedit(e) {
        debugger;
        var phasename = $(e).closest("tr").find('td:eq(0)').text();
        var startdate = $(e).closest("tr").find('td:eq(1)').text();
        var enddate = $(e).closest("tr").find('td:eq(2)').text();

        $('#phase_name').val(phasename);
        $('#startdate').val(startdate);
        $('#enddate').val(enddate);
        var rowid = $(e).closest("tr").data('row');
        $('#PlanEditPopup').find('button[data-buttontype="update"]').show();
        $('#PlanEditPopup').find('button[data-buttontype="save"]').hide();
        //$('#PlanEditPopup').find('button[data-buttontype="update"]').attr('data-rowid', rowid);
        $('#PlanEditPopup').find('button[data-buttontype="update"]').data('rowid', rowid);
        $("#PlanEditPopup").modal("show");
        return false;
    }


    function UpdateValues() {
        debugger;
        var rowid = $('#PlanEditPopup').find('button[data-buttontype="update"]').data('rowid');
        var $gettr = $("#tableID").find('tr[data-row="' + rowid + '"]');
        var phasename = $('#phase_name').val();
        var start = $('#startdate').val();
        var end = $('#enddate').val();

        $gettr.find('td:eq(0)').text(phasename);
        $gettr.find('td:eq(1)').text(start);
        $gettr.find('td:eq(2)').text(end);
        $gettr.find('td:eq(3) input:checkbox').prop('checked', true);

        $('#phase_name').val("");
        $('#startdate').val("");
        $('#enddate').val("");

        $("#PlanEditPopup").modal('toggle');

    }

    function AddValues() {
        var phasename = $('#phase_name').val();
        var start = $('#startdate').val();
        var end = $('#enddate').val();

        var rowctr = $('tr', $("#tableID").find('tbody')).length;

        var lasttr = 0;
        if (rowctr <= 0) {
            lasttr = 1;
        }
        else {
            lasttr = $("#tableID").find("tr").last().data('row');
            lasttr = lasttr + 1;
        }
        var tablevalues = "<tr data-row='" + lasttr + "'>";
        tablevalues += "<td>" + phasename + "</td><td>" + start + "</td><td>" + end + "</td><td><input type='checkbox' checked /></td><td><a href='' class='planedit' title='Edit Plan' onclick='fnedit(this);return false;'><span class='fa fa-pencil' style='font-size:25px;'></span></a></td >";

        tablevalues += "</tr>";

        $("#tableID").find('tbody').append(tablevalues);

        $('#phase_name').val("");
        $('#startdate').val("");
        $('#enddate').val("");

        $("#PlanEditPopup").modal('toggle');
    }
</script>
