@using MicrofyWebApp.Models;
@model MicrofyWebApp.Models.PhaseViewModel;
@{
    var sideMenu = Model.phases;
    var phase = Model.phases;
    ViewData["Title"] = "Dashboard";
    var displaymode = "none";
    if (Model.UserRole == "Administrator")
    {
        displaymode = "block";
    }
    var keyword = new List<string>();
    var subphaseDoc = 0;
}

<style type="text/css">
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -16px;
        margin-left: -31px !important;
        border: none !important;
    }

    .card {
        border: none !important;
    }

    .icon-stack {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 5em;
        line-height: 4em;
        vertical-align: middle;
    }

    .icon-stack-1x,
    .icon-stack-2x,
    .icon-stack-3x {
        position: absolute;
        left: 0;
        width: 100%;
    }

    .icon-stack-1x {
        line-height: inherit;
        position: absolute;
        left: 12px;
        color: #4eba24;
        /*top: -4px;*/
        font-size: 1.5em;
    }

    .icon-stack-2x {
        font-size: 1.5em;
    }

    .icon-stack-3x {
        font-size: 3em;
    }
</style>

<div class="col-md-12" style="padding-left: 15px;">
    <div id="divbreadcrumb">
        <ol class="breadcrumb breadcrumb-arrow">
            <li class="homelink"><a href="~/Home/Dashboard">Home</a></li>
            <li class="homelink"><a href="~/Home/Dashboard">Repository</a></li>
            <li class="active"><span>Dashboard</span></li>
        </ol>
    </div>
</div>

<div class="container-fluid" id="dashboard" style="display: block;">
    <div class="container">
        <div class="row">
            @if (Model.documentRepository != null)
            {
                foreach (var p in Model.documentRepository)
                {
                    if (p.documents != null)
                    {
                        var i = 1;
                        keyword = new List<string>();
                        <div class="col-lg-4.5 col-sm-6">
                            <div class="circle-tile ">
                                <a onclick='ViewDocuments("@p.phase",null)'>
                                    <div class="circle-tile-heading" style="background-color: #ffffff">
                                      
                                        <img id="logo" alt="Logo" src="~/Image/DashboardIcon/@p.icon" style="width:80px;" />

                                    </div>
                                </a>
                                <div class="circle-tile-content" style="background-color: #2a8bcc; ">
                                    <div class="circle-tile-number text-faded">
                                        @p.phase &ensp;@p.documents.Count()
                                    </div>
                                   
                                    <div class="circle-tile ">@p.dashboardTag</div>
                                    <a class="circle-tile-footer" onclick="@("window.location.href='" + @Url.Action("Repository", "Home", new { Phase=@p.phase,SubPhase=string.Empty }) + "'");">View Documents<i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                    else if (p.subphase != null)
                    {
                        var i = 1;
                        keyword = new List<string>();
                        <div class="col-lg-4.5 col-sm-6">
                            <div class="circle-tile ">
                                <a onclick='ViewDocuments("@p.phase", "@p.subphase.FirstOrDefault().name")'>
                                    <div class="circle-tile-heading" style="background-color: #ffffff">
                                        <img id="logo" alt="Logo" src="~/Image/DashboardIcon/@p.icon" style="width:80px;" />
                                    </div>
                                </a>

                                <div class="circle-tile-content" style="background-color: #2a8bcc; ">
                                    
                                    <div class="circle-tile-number text-faded">
                                        @p.phase &ensp;@p.subphase.Sum(q => q.documents.Count)
                                    </div>
                                    <div class="circle-tile ">@p.dashboardTag</div>
                                    <a class="circle-tile-footer"    onclick="@("window.location.href='" + @Url.Action("Repository", "Home", new { Phase=@p.phase,SubPhase=@p.subphase.FirstOrDefault().name }) + "'");">View Documents<i class="fa fa-chevron-circle-right"></i></a>
                                </div>
                            </div>
                        </div>


                    }
                }
            }
        </div>

    </div>
</div>


<div class="container-fluid" id="SerachDocument" style="display: none;">

</div>


<script type="text/javascript">
    
</script>
