@using MicrofyWebApp.Models;
@model MicrofyWebApp.Models.PhaseViewModel;
@{
    var sideMenu = Model.phases;
    var phase = Model.phases;
    ViewData["Title"] = "Dashboard";
    var displaymode = "none";
    if (Model.UserRole == "Administrator")
    {
        displaymode = "block";
    }
    var keyword = new List<string>();
    var subphaseDoc = 0;
}
<style type="text/css">
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -16px;
        margin-left: -31px !important;
        border: none !important;
    }

    .card {
        border: none !important;
    }

    .icon-stack {
        position: relative;
        display: inline-block;
        width: 2em;
        height: 5em;
        line-height: 4em;
        vertical-align: middle;
    }

    .icon-stack-1x,
    .icon-stack-2x,
    .icon-stack-3x {
        position: absolute;
        left: 0;
        width: 100%;
    }

    .icon-stack-1x {
        line-height: inherit;
        position: absolute;
        left: 12px;
        color: #4eba24;
        /*top: -4px;*/
        font-size: 1.5em;
    }

    .icon-stack-2x {
        font-size: 1.5em;
    }

    .icon-stack-3x {
        font-size: 3em;
    }
</style>
<div class="container">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="imglogo">
                    <img id="img_logo" alt="Logo" src="~/Image/Cumulus.png" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");" />
                </div>
            </div>
            <ul class="list-unstyled">
                @for (int j = 0; j < phase.Count; j++)
                {
                    <li>
                        <div class="anchor-link">
                            @if (phase[j].subPhase != null)
                            {
                                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu">@phase[j].name</a>
                            }
                            else
                            {
                                <a href="#">@phase[j].name</a>
                            }
                        </div>
                        @if (phase[j].subPhase != null)
                        {
                            var subphase = phase[j].subPhase;
                            <ul class="collapse list-unstyled show" id="@phase[j].name">
                                @for (int i = 0; i < subphase.Count; i++)
                                {
                                    <li class="subanchor-link">
                                        <a href="#">@subphase[i]</a>
                                    </li>
                                }
                            </ul>

                        }

                    </li>
                }
            </ul>
            @*<div class="tagcloud05">
                    <ul>
                        @foreach (var doc in Model.documentRepository)
                        {
                            if (doc.documents != null)
                            {
                                foreach (var doctags in doc.documents)
                                {
                                    foreach (var tags in doctags.tags)
                                    {
                                    <li><a href="#"><span>@tags</span></a></li>
                                    }

                            }
                        }
                        else if (doc.subphase != null)
                        {
                            foreach (var subdoc in doc.subphase)
                            {
                                if (subdoc.documents != null)
                                {
                                    foreach (var subdoctag in subdoc.documents)
                                    {
                                        foreach (var subtags in subdoctag.tags)
                                        {
                                        <li><a href="#"><span>@subtags</span></a></li>
                                        }

                                        }
                                    }
                                }
                            }
                        }
                    </ul>
                </div>*@
        </nav>
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid col-md-12">
                    <div class="col-md-3">
                        <button type="button" id="sidebarCollapse" class="btn btn-dark">
                            <i class="fas fa-align-left"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom: 0px;">
                            <input type="text" class="form-control" id="search" onkeyup="funcRedirect()" placeholder="Search..">
                        </div>
                    </div>
                    <div class="col-md-1">
                        @* <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-align-justify"></i>
                            </button> *@
                        @*<button class="btn btn-dark" type="button" onclick="return false;">
                                <i class="fa fa-search"></i>
                            </button>*@
                        <a href="#" class="btn btn-dark" onclick="SearchDocument()"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown" style="text-align: center;">
                            <button class="btn btn-dark" type="button" id="myaccout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-user"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="~/Login/MyProfile"> <i class="fas fa-user-circle"></i> My Profile</a>
                                <a class="dropdown-item" href="#" onclick="@("window.location.href='" + @Url.Action("ListUser", "Login") + "'");" style="display:@displaymode;"><i class="fas fa-user"></i> Users</a>
                                <a class="dropdown-item" href="#" onclick="@("window.location.href='" + @Url.Action("ActivityDetails", "Home") + "'");" style="display:@displaymode;"><i class="fas fa-briefcase"></i> Activity</a>
                                <a class="dropdown-item" href="~/Login/Logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="col-md-12" style="padding-left: 15px;">
                <div id="divbreadcrumb">
                    <ol class="breadcrumb breadcrumb-arrow">
                        <li class="homelink"><a href="~/Home/Dashboard">Home</a></li>
                        <li class="active"><span>Dashboard</span></li>
                    </ol>
                </div>
                @*<div class="col-sm-2 col-sm-pull-12">
                        <div id="newdocdiv" style="display:none;">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUploadCenter">
                                <i class="fa fa-plus" aria-hidden="true"></i> New Document
                            </button>
                        </div>

                    </div>*@
            </div>

            <div class="container-fluid" id="dashboard" style="display: block;">
                <div class="container">
                    <div class="row">
                        @if (Model.documentRepository != null)
                        {
                            foreach (var p in Model.documentRepository)
                            {
                                if (p.documents != null)
                                {
                                    @*<div class="card col-md-3 m-2">
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p>@p.phase </p>
                                                        <p>@p.documents.Count()</p>
                                                        <button type="submit" class="btn btn-primary" id="btnView" onclick='ViewDocuments("@p.phase",null)'>
                                                            <i class="fa fa-eye" aria-hidden="true"></i> View
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    var i = 1;
                                    keyword = new List<string>();
                                    <div class="col-lg-4.5 col-sm-6">
                                        <div class="circle-tile ">
                                            <a onclick='ViewDocuments("@p.phase",null)'>
                                                <div class="circle-tile-heading" style="background-color: #ffffff">
                                                    @*@if (p.phase == "Pre - Plan")
                                                        {
                                                            <span class="icon-stack">
                                                                <i class="fa fa-file-alt icon-stack-3x"></i>
                                                                <i class="fa fa-pencil icon-stack-1x"></i>
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <i class="@p.icon fa-fw fa-3x"></i>

                                                        }*@
                                                    <img id="logo" alt="Logo" src="~/Image/DashboardIcon/@p.icon" style="width:80px;" />

                                                </div>
                                            </a>
                                            <div class="circle-tile-content" style="background-color: #2a8bcc; ">
                                                <div class="circle-tile-number text-faded">
                                                    @p.phase &ensp;@p.documents.Count()
                                                </div>
                                                @*<div class="circle-tile-number text-faded ">@p.documents.Count()</div>*@

                                                @*@foreach (var doc in p.documents)
                                                    {
                                                        @foreach (var tags in doc.tags)
                                                        {

                                                            if (tags.AzureService != null)
                                                            {
                                                                foreach (var type in tags.AzureService)
                                                                {
                                                                    if (i < 5)
                                                                    {
                                                                        foreach (var keyval in type)
                                                                        {
                                                                            keyword.Add(keyval.Value);
                                                                        }
                                                                        i = i + 1;
                                                                    }
                                                                }
                                                            }

                                                            @if (i < 5)
                                                            {
                                                                if (tags.ProcessRelated != null)
                                                                {
                                                                    foreach (var type in tags.ProcessRelated)
                                                                    {
                                                                        if (i < 5)
                                                                        {
                                                                            foreach (var keyval in type)
                                                                            {
                                                                                keyword.Add(keyval.Value);
                                                                            }
                                                                            i = i + 1;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }*@
                                                <div class="circle-tile ">@p.dashboardTag</div>
                                                <a class="circle-tile-footer" onclick='ViewDocuments("@p.phase",null)'>View Documents<i class="fa fa-chevron-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (p.subphase != null)
                                {
                                    var i = 1;
                                    keyword = new List<string>();
                                    <div class="col-lg-4.5 col-sm-6">
                                        <div class="circle-tile ">
                                            <a onclick='ViewDocuments("@p.phase", "@p.subphase.FirstOrDefault().name")'>
                                                <div class="circle-tile-heading" style="background-color: #ffffff">
                                                    <img id="logo" alt="Logo" src="~/Image/DashboardIcon/@p.icon" style="width:80px;" />
                                                </div>
                                            </a>

                                            <div class="circle-tile-content" style="background-color: #2a8bcc; ">
                                                @*<div class="circle-tile-description text-faded"> @p.phase</div>*@
                                                @*@foreach (var sub in p.subphase)
                                                    {
                                                        @if (sub.documents != null)
                                                        {
                                                            @foreach (var doc in sub.documents)
                                                            {
                                                                @foreach (var tags in doc.tags)
                                                                {
                                                                    if (tags.AzureService != null)
                                                                    {
                                                                        foreach (var type in tags.AzureService)
                                                                        {
                                                                            if (i < 5)
                                                                            {
                                                                                foreach (var keyval in type)
                                                                                {
                                                                                    keyword.Add(keyval.Value);
                                                                                }
                                                                                i = i + 1;
                                                                            }
                                                                        }
                                                                    }

                                                                    @if (i < 5)
                                                                    {
                                                                        if (tags.ProcessRelated != null)
                                                                        {
                                                                            foreach (var type in tags.ProcessRelated)
                                                                            {
                                                                                if (i < 5)
                                                                                {
                                                                                    foreach (var keyval in type)
                                                                                    {
                                                                                        keyword.Add(keyval.Value);
                                                                                    }
                                                                                    i = i + 1;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        subphaseDoc = subphaseDoc + sub.documents.Count();
                                                    }*@
                                                <div class="circle-tile-number text-faded">
                                                    @p.phase &ensp;@p.subphase.Sum(q => q.documents.Count)
                                                </div>
                                                <div class="circle-tile ">@p.dashboardTag</div>
                                                <a class="circle-tile-footer" onclick='ViewDocuments("@p.phase","@p.subphase.FirstOrDefault().name")'>View Documents<i class="fa fa-chevron-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>


                                }
                            }
                        }
                    </div>

                </div>
            </div>

            <div class="container-fluid" id="documentpnl" style="display: none;">

            </div>

            <div class="container-fluid" id="uploadDocument" style="display: none;">

            </div>
            <div class="container-fluid" id="SerachDocument" style="display: none;">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function funcRedirect() {
    var search = $('#search').val();
    if (search == "") {
        window.location.href = '@Url.Action("Dashboard", "Home")';
    }
}
</script>
