@using MicrofyWebApp.Models;
@model MicrofyWebApp.Models.PhaseViewModel;
@{
    var sideMenu = Model.phases;
    var phase = Model.phases;
    ViewData["Title"] = "Dashboard";
    var displaymode = "none";
    if (Model.UserRole == "Administrator")
    {
        displaymode = "block";
    }
}
<style type="text/css">
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -16px;
        margin-left: -31px !important;
        border: none !important;
    }

    .card {
        border: none !important;
    }
</style>
<div class="container">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="imglogo">
                    <img id="img_logo" alt="Logo" src="~/Image/microfy.png" onclick="@("window.location.href='" + @Url.Action("Microfy", "Home") + "'");" />
                </div>
            </div>
            <ul class="list-unstyled">
                @for (int j = 0; j < phase.Count; j++)
                {
                    <li>
                        <div class="anchor-link">
                            @if (phase[j].subPhase != null)
                            {
                                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@phase[j].name</a>
                            }
                            else
                            {
                                <a href="#">@phase[j].name</a>
                            }
                        </div>
                        @if (phase[j].subPhase != null)
                        {
                            var subphase = phase[j].subPhase;
                            <ul class="collapse list-unstyled show" id="@phase[j].name">
                                @for (int i = 0; i < subphase.Count; i++)
                                {
                                    <li class="subanchor-link">
                                        <a href="#">@subphase[i]</a>
                                    </li>
                                }
                            </ul>

                        }

                    </li>
                }
            </ul>
            @*<div class="tagcloud05">
                    <ul>
                        @foreach (var doc in Model.documentRepository)
                        {
                            if (doc.documents != null)
                            {
                                foreach (var doctags in doc.documents)
                                {
                                    foreach (var tags in doctags.tags)
                                    {
                                    <li><a href="#"><span>@tags</span></a></li>
                                    }

                            }
                        }
                        else if (doc.subphase != null)
                        {
                            foreach (var subdoc in doc.subphase)
                            {
                                if (subdoc.documents != null)
                                {
                                    foreach (var subdoctag in subdoc.documents)
                                    {
                                        foreach (var subtags in subdoctag.tags)
                                        {
                                        <li><a href="#"><span>@subtags</span></a></li>
                                        }

                                        }
                                    }
                                }
                            }
                        }
                    </ul>
                </div>*@
        </nav>
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid col-md-12">
                    <div class="col-md-3">
                        <button type="button" id="sidebarCollapse" class="btn btn-dark">
                            <i class="fas fa-align-left"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-bottom: 0px;">
                            <input type="text" class="form-control" id="search" placeholder="Search..">
                        </div>
                    </div>
                    <div class="col-md-1">
                        @* <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-align-justify"></i>
                            </button> *@
                        @*<button class="btn btn-dark" type="button" onclick="return false;">
                                <i class="fa fa-search"></i>
                            </button>*@
                        <a href="#" class="btn btn-dark"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown" style="text-align: center;">
                            <button class="btn btn-dark" type="button" id="myaccout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-user"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="~/Login/MyProfile"> <i class="fas fa-user-circle"></i> My Profile</a>
                                <a class="dropdown-item" href="#" onclick="@("window.location.href='" + @Url.Action("ListUser", "Login") + "'");" style="display:@displaymode;"><i class="fas fa-user"></i> Users</a>
                                <a class="dropdown-item" href="~/Login/Logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="col-md-12" style="padding-left: 15px;">
                <div id="divbreadcrumb">
                    <ol class="breadcrumb breadcrumb-arrow">
                        <li class="homelink"><a href="~/Home/Microfy">Home</a></li>
                        <li class="active"><span>Dashboard</span></li>
                    </ol>
                </div>
                @*<div class="col-sm-2 col-sm-pull-12">
                        <div id="newdocdiv" style="display:none;">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUploadCenter">
                                <i class="fa fa-plus" aria-hidden="true"></i> New Document
                            </button>
                        </div>

                    </div>*@
            </div>

            <div class="container-fluid" id="dashboard" style="display: block;">
                <div class="container">
                    <div class="row">
                        @if (Model.documentRepository != null)
                        {
                            foreach (var p in Model.documentRepository)
                            {
                                if (p.documents != null)
                                {
                                    @*<div class="card col-md-3 m-2">
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <p>@p.phase </p>
                                                        <p>@p.documents.Count()</p>
                                                        <button type="submit" class="btn btn-primary" id="btnView" onclick='ViewDocuments("@p.phase",null)'>
                                                            <i class="fa fa-eye" aria-hidden="true"></i> View
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="circle-tile ">
                                            <a onclick='ViewDocuments("@p.phase",null)'><div class="circle-tile-heading" style="background-color: #4eba24"><i class="fa fa-file-alt fa-fw fa-3x"></i></div></a>
                                            <div class="circle-tile-content" style="background-color: #ff9c00; ">
                                                <div class="circle-tile-description text-faded"> @p.phase</div>
                                                <div class="circle-tile-number text-faded ">@p.documents.Count()</div>
                                                <a class="circle-tile-footer" onclick='ViewDocuments("@p.phase",null)'>More Info<i class="fa fa-chevron-circle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (p.subphase != null)
                                {
                                    foreach (var sub in p.subphase)
                                    {

                                        @*<div class="card col-md-3 m-2">
                                                <div class="card-deck">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <p>@sub.name - Document repository</p>
                                                            <p>@sub.documents.Count()</p>
                                                            <button type="submit" class="btn btn-primary" id="btnView" onclick='ViewDocuments("@p.phase","@sub.name")'>
                                                                <i class="fa fa-eye" aria-hidden="true"></i> View
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="circle-tile ">
                                                <a onclick='ViewDocuments("@p.phase","@sub.name")'><div class="circle-tile-heading" style="background-color: #4eba24"><i class="fa fa-file-alt fa-fw fa-3x"></i></div></a>
                                                <div class="circle-tile-content" style="background-color: #ff9c00;">
                                                    <div class="circle-tile-description text-faded"> @sub.name</div>
                                                    <div class="circle-tile-number text-faded ">@sub.documents.Count()</div>
                                                    <a class="circle-tile-footer" onclick='ViewDocuments("@p.phase","@sub.name")'>More Info<i class="fa fa-chevron-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            }
                        }
                    </div>

                </div>
            </div>

            <div class="container-fluid" id="documentpnl" style="display: none;">

            </div>

            <div class="container-fluid" id="uploadDocument" style="display: none;">

            </div>
        </div>
    </div>
</div>
