@model MicrofyWebApp.Models.PhaseViewModel
@*@{
    var template = Model;
    var phases = Model.phases.Count;

}*@


<nav id="sidebar">
    <div class="sidebar-header">
        <div class="imglogo">
            <img id="img_logo" alt="Logo" src="~/Image/microfy.png" />
        </div>
    </div>

    <ul class="list-unstyled">
        @*@foreach (var phase in Model.phases)
        {
            <li>
                <div class="anchor-link"> <a href="@phase.name">@phase.name</a></div>
                @if (phase.subPhase != null)
                {
                    <ul class="collapse list-unstyled" id="@phase.name">
                        @for (int i= 0;i <= phase.subPhase.Count;i++)
                        {
                            <li class="subanchor-link">
                                <a href="@phase.subPhase[i]">@phase.subPhase[i]</a>
                            </li>
                        }
                    </ul>

                }

            </li>
        }*@
        <li>
            <div class="anchor-link"> <a href="#PreInit">Pre - Initiation</a></div>
        </li>
        <li>
            <div class="anchor-link"> <a href='#Initiation'>Initiation</a></div>
        </li>
        <li>
            <div class="anchor-link"> <a href='#Design'>Design</a></div>
        </li>
        <li>
            <div class="anchor-link"> <a href='#Build'>Build</a></div>
        </li>
        <li>
            <div class="anchor-link"> <a href='#Deploy'>Deploy</a></div>
        </li>
        <li>
            <div class="anchor-link"> <a href='#Test'>Test</a></div>
        </li>
    </ul>
    <div class="tagcloud05">
        <ul>
            <li><a href="#"><span>Sow</span></a></li>
            <li><a href="#"><span>word</span></a></li>
            <li><a href="#"><span>Container</span></a></li>
            <li><a href="#"><span>Kubernetes</span></a></li>
            <li><a href="#"><span>JBOSS</span></a></li>
            <li><a href="#"><span>Twistlock</span></a></li>
            <li><a href="#"><span>sumologic</span></a></li>
            <li><a href="#"><span>Appdynamic</span></a></li>
            <li><a href="#"><span>Mongo</span></a></li>
            <li><a href="#"><span>Memcached</span></a></li>
            <li><a href="#"><span>AKS</span></a></li>
            <li><a href="#"><span>APIM</span></a></li>
            <li><a href="#"><span>VM</span></a></li>
            <li><a href="#"><span>Application Gateway</span></a></li>
            <li><a href="#"><span>Job Description</span></a></li>
            <li><a href="#"><span>Excel</span></a></li>
            <li><a href="#"><span>Solution Architect</span></a></li>
            <li><a href="#"><span>Kubernetes enginer</span></a></li>
            <li><a href="#"><span>Devops enginer</span></a></li>
            <li><a href="#"><span>High Level plan</span></a></li>
            <li><a href="#"><span>RACI matrix</span></a></li>

        </ul>
    </div>
</nav>