@model MicrofyWebApp.Models.Summary
<div class="form-card">
    <div class="row col-md-12">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <input type="button" name="print preview" onclick="@("window.location.href='" + @Url.Action("ViewAudit", "Application", new { projectname=Model.projectname,customername=Model.customername  }) + "' ");" class="print action-button btn btn-primary" value="Print Preview" />
        </div>
    </div>

    <div class="col-md-12 row justify-content">
        <div class="col-md-12" style="display: inline-flex;">
            <img src="~/Image/success.png" class="fit-image pull-right" style="width: 5%;">
            <h5 style="margin-top: 8px;">Thanks for providing inputs for @Model.projectname </h5>
        </div>
    </div><br />
    <div>
        <ul style="list-style-type:none;">
            <li>
                <h6>Here is the summary on how the Application aligns to best practices and recommendations:</h6><br />
                <ol style="list-style-type:none;">
                    <li>
                        <div class="col-md-12" style="display: inline-flex;">
                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image pull-right" style="width: 5%;">&nbsp;&nbsp;&nbsp;&nbsp;
                            <h6 style="margin-top: 8px;">Best Practices Implemented : @Model.RequiredCount</h6>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-12" style="display: inline-flex;">
                            <img src="https://img.icons8.com/emoji/344/cross-mark-emoji.png" class="fit-image pull-right" style="width: 5%;"> &nbsp;&nbsp;&nbsp;&nbsp;
                            <h6 style="margin-top: 8px;">Best Practices Not Implemented : @Model.NotImplementedCount</h6>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-12" style="display: inline-flex;">
                            <img src="https://img.icons8.com/small/344/visible.png" class="fit-image pull-right" style="width: 5%;"> &nbsp;&nbsp; &nbsp;&nbsp;
                            <h6 style="margin-top: 8px;">Observation Recorded : @Model.ObservationCount</h6>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-12" style="display: inline-flex;">
                            <img src="~/Image/actionitems.png" class="fit-image pull-right" style="width: 5%;"> &nbsp;&nbsp;&nbsp;&nbsp;
                            <h6 style="margin-top: 8px;">Actionable Items : @Model.ActionItemsCount</h6>
                        </div>
                    </li>
                </ol>
            </li>

        </ul>
    </div>
</div>
