@model MicrofyWebApp.Models.DocumentViewModel
@{
    var template = Model;
    //var DocumentsLen = Model.documentRepository.Count;
    var displaymode = "none";
    if (Model.UserRole == "Administrator")
    {
        displaymode = "block";
    }
}

<div class="row col-md-12 mb-2">
    <div class="col-md-8">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-docrepo-tab" data-toggle="tab" href="#nav-docrepo" role="tab" aria-controls="nav-docrepo" aria-selected="true">Document repository</a>
                <a class="nav-item nav-link" id="nav-planexe-tab" data-toggle="tab" href="#nav-planexe" role="tab" aria-controls="nav-planexe" aria-selected="false" style="display: none;">Plan and execution</a>
                <a class="nav-item nav-link" id="nav-compliance-tab" data-toggle="tab" href="#nav-compliance" role="tab" aria-controls="nav-compliance" aria-selected="false" style="display: none;">Compliance</a>
            </div>
        </nav>
    </div>
    <div class="col-md-4">
        <div class="float-right" id="newdocdiv" style="display:@displaymode;">
            <a href="#" class="btn btn-primary" onclick="UploadNewDocument()"><i class="fa fa-upload" aria-hidden="true"></i> New document</a>
        </div>
    </div>
</div>
<div class="tab-content mt-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-docrepo" role="tabpanel" aria-labelledby="nav-docrepo-tab">
        <div class="container">
            @*<div class="row col-md-12 mb-2">
                    <div class="col-md-9">
                        <div class="form-check float-right" style="padding-top: 10px;">
                            <input class="form-check-input" type="checkbox" value="" id="selectAll">
                            Select all/Deselect all
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="float-right">
                            <a href="#" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Download all</a>
                        </div>
                    </div>
                </div>*@
            @if (Model.documentRepository != null)
            {
                foreach (var p in Model.documentRepository.Where(i => i.phase == Model.selectedPhase))
                {
                    if (p.documents != null)
                    {
                        foreach (var doc in p.documents)
                        {
                            <div class="card mb-3">
                                <div class="card-body docrepo">
                                    <div class="row col-md-12">

                                        <div class="form-check" style="display:flex">
                                            @*<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">*@
                                            @*<div class="imglogo">
                                                    <img alt="Logo" src="@doc.filetype" />
                                                </div>*@
                                            <i class="fas @doc.filetype fa-3x"></i>
                                            <p class="doctitle">@doc.name</p>
                                        </div>
                                        @* <div class="col-md-11">
                                                 <p>Skill Mapping - JD Template</p>
                                            </div> *@

                                    </div>
                                    <div class="row col-md-12 ml-2" style="padding-top: 5px;">
                                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(doc.description).Replace("\r\n", "<br />"))
                                    </div>
                                    @*<table class="table ml-2">
                                            <tr class="col-md-12">
                                                <td class="col-md-2">Tags</td>
                                                <td class="col-md-10">
                                                    <div class="tagcloud01">
                                                        <ul>
                                                            @foreach (var tags in doc.tags)
                                                                            {
                                                                                if (tags != null)
                                                                                {
                                                            <li><a href="#"><span>@tags</span></a></li>

                                                                                }
                                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="col-md-12">
                                                <td class="col-md-2">Last Modified on</td>
                                                <td class="col-md-10">@Model.uploadedOn.ToString("dd/MM/yyyy")</td>
                                            </tr>
                                        </table>*@
                                    <div class="row col-md-12 ml-2" style="padding:5px;">
                                        <p class="doctitle">Tags</p>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="col-md-4">
                                            <p>Azure Services</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Process</p>
                                        </div>
                                        <div class="col-md-4" style="display:none;">
                                            <p>Management Related</p>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="col-md-4">
                                            <div class="tagcloud01">
                                                <ul>
                                                    @foreach (var tags in doc.tags)
                                                    {
                                                        if (tags.AzureService != null)
                                                        {
                                                            foreach (var type in tags.AzureService)
                                                            {
                                                                foreach (var keyval in type)
                                                                {
                                                                    <li><a onclick="SearchTag('@keyval.Value')"><span>@keyval.Value</span></a></li>
                                                                }
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="tagcloud01">
                                                <ul>
                                                    @foreach (var tags in doc.tags)
                                                    {
                                                        if (tags.ProcessRelated != null)
                                                        {
                                                            foreach (var type in tags.ProcessRelated)
                                                            {
                                                                foreach (var keyval in type)
                                                                {
                                                                    <li><a onclick="SearchTag('@keyval.Value')"><span>@keyval.Value</span></a></li>
                                                                }
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display:none;">
                                            <div class="tagcloud01">
                                                <ul>
                                                    @foreach (var tags in doc.tags)
                                                    {
                                                        if (tags.ManagementRelated != null)
                                                        {
                                                            foreach (var type in tags.ManagementRelated)
                                                            {
                                                                foreach (var keyval in type)
                                                                {
                                                                    <li><a onclick="SearchTag('@keyval.Value')"><span>@keyval.Value</span></a></li>
                                                                }
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row col-md-12">
                                        <div class="col-md-3">Last Modified on</div>
                                        <div class="col-md-9">@Model.uploadedOn.ToString("dd/MM/yyyy")</div>
                                    </div>

                                    <div class="row col-md-12">
                                        <div class="col-md-4">
                                            <div class="float-left" style="display:@displaymode; padding-left:5px;">
                                                <button type="submit" class="btn btn-primary" id="btndelete"  onclick='DeleteDocument("@doc.Decodedurl", "@doc.name")'>
                                                    <i class="fa fa-trash" aria-hidden="true"></i>  Delete
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="float-right" style="display:flex;">
                                                <div>

                                                    <button type="submit" class="btn btn-primary" id="btnupload" onclick="@("window.location.href='" + @Url.Action("DownloadDocument", "Home", new { url = doc.Decodedurl, phase=p.phase,subphase=string.Empty }) + "'");">
                                                        <i class="fa fa-download" aria-hidden="true"></i>  Download
                                                    </button>
                                                </div>
                                                <div style="display:@displaymode; padding-left:5px;">
                                                    <button type="submit" class="btn btn-primary" id="btnupload" onclick='UploadDocument("@doc.name")'>
                                                        <i class="fa fa-upload" aria-hidden="true"></i>  Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <table class="table ml-2" style="display: none;">
                                        <tr>
                                            <td>Feedback</td>
                                            <td>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary">
                                                    <i class="fa fa-save" aria-hidden="true"></i>  Submit
                                                </button>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        }
                    }
                    else if (p.subphase != null)
                    {
                        foreach (var sub in p.subphase.Where(i => i.name == Model.selectedSubPhases))
                        {
                            if (sub.documents != null)
                            {
                                foreach (var subdoc in sub.documents)
                                {
                                    <div class="card mb-3">
                                        <div class="card-body docrepo">
                                            <div class="row col-md-12">
                                                <div class="form-check" style="display:flex">
                                                    @*<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">*@
                                                    @*<div class="imglogo">
                    <img alt="Logo" src="@subdoc.filetype" />
                </div>*@
                                                    <i class="fas @subdoc.filetype fa-3x"></i>

                                                    <p class="doctitle">@subdoc.name</p>
                                                </div>
                                                @* <div class="col-md-11">
                 <p>Skill Mapping - JD Template</p>
            </div> *@
                                            </div>
                                            <div class="row col-md-12 ml-2" style="padding-top:5px">
                                                @Html.Raw(System.Web.HttpUtility.HtmlDecode(subdoc.description).Replace("\r\n", "<br />"))
                                            </div>
                                            @*<table class="table ml-2">
            <tr class="col-md-12">
                <td class="col-md-2">Tags</td>
                <td class="col-md-10">
                    <div class="tagcloud01">
                        <ul>
                            @foreach (var tags in subdoc.tags)
                            {
                                if (tags != null)
                                {
                                    <li><a href="#"><span>@tags</span></a></li>

                                }
                            }
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="col-md-12">
                <td class="col-md-2">Last Modified on</td>
                <td class="col-md-10">@Model.uploadedOn.ToString("dd/MM/yyyy")</td>
            </tr>
        </table>*@
                                            <div class="row col-md-12 ml-2" style="padding:5px;">
                                                <p class="doctitle">Tags</p>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <p>Azure Services</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p>Process</p>
                                                </div>
                                                <div class="col-md-4" style="display:none;">
                                                    <p>Management Related</p>
                                                </div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="tagcloud01">
                                                        <ul>
                                                            @foreach (var tags in subdoc.tags)
                                                            {
                                                                if (tags.AzureService != null)
                                                                {
                                                                    foreach (var type in tags.AzureService)
                                                                    {
                                                                        foreach (var keyval in type)
                                                                        {
                                                                            <li><a onclick="SearchTag('@keyval.Value')"><span> @keyval.Value</span></a></li>
                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="tagcloud01">
                                                        <ul>
                                                            @foreach (var tags in subdoc.tags)
                                                            {
                                                                if (tags.ProcessRelated != null)
                                                                {
                                                                    foreach (var type in tags.ProcessRelated)
                                                                    {
                                                                        foreach (var keyval in type)
                                                                        {
                                                                            <li><a onclick="SearchTag('@keyval.Value')"><span>@keyval.Value</span></a></li>
                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style="display:none;">
                                                    <div class="tagcloud01">
                                                        <ul>
                                                            @foreach (var tags in subdoc.tags)
                                                            {
                                                                if (tags.ManagementRelated != null)
                                                                {
                                                                    foreach (var type in tags.ManagementRelated)
                                                                    {
                                                                        foreach (var keyval in type)
                                                                        {
                                                                            <li><a onclick="SearchTag('@keyval.Value')"><span> @keyval.Value</span></a></li>
                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row col-md-12">
                                                <div class="col-md-3">Last Modified on</div>
                                                <div class="col-md-9">@Model.uploadedOn.ToString("dd/MM/yyyy")</div>
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-4">
                                                    <div class="float-left" style="display:@displaymode; padding-left:5px;">
                                                        <button type="submit" class="btn btn-primary" id="btndelete" onclick='DeleteDocument("@subdoc.Decodedurl", "@subdoc.name")'>
                                                            <i class="fa fa-trash" aria-hidden="true"></i>  Delete
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="float-right" style="display:flex;">
                                                        <div>

                                                            <button type="submit" class="btn btn-primary" id="btnupload" onclick="@("window.location.href='" + @Url.Action("DownloadDocument", "Home", new { url = subdoc.Decodedurl, phase=p.phase,subphase=sub.name}) + "'");">
                                                                <i class="fa fa-download" aria-hidden="true"></i>  Download
                                                            </button>
                                                        </div>
                                                        <div style="display:@displaymode; padding-left:5px;">
                                                            <button type="submit" class="btn btn-primary" id="btnupload" onclick='UploadDocument("@subdoc.name")'>
                                                                <i class="fa fa-upload" aria-hidden="true"></i>  Upload
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <table class="table ml-2" style="display: none;">
                                                <tr>
                                                    <td>Feedback</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary">
                                                            <i class="fa fa-save" aria-hidden="true"></i>  Submit
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            }


        </div>
    </div>

</div>
<script type="text/javascript">
    $('#selectAll').click(function () {
        if (this.checked) {
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
</script>
