@model MicrofyWebApp.Models.DocumentViewModel

<div class="row col-md-12 mb-2">
    <div class="col-md-8">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-docrepo-tab" data-toggle="tab" href="#nav-docrepo" role="tab" aria-controls="nav-docrepo" aria-selected="true">Search Results</a>
            </div>
        </nav>
    </div>
</div>

<div class="tab-content mt-2">
    <div class="tab-pane fade show active">
        <div class="container">
            @if (Model.searchResults.Count > 0)
            {
                foreach (var p in Model.searchResults)
                {

                    <div class="card mb-3">
                        <div class="card-body docrepo">
                            <div class="row col-md-12">

                                <div class="form-check" style="display:flex">
                                    <i class="fas @p.filetype fa-3x"></i>
                                    <p class="doctitle">@p.name</p>
                                </div>
                            </div>
                            <div class="row col-md-12 ml-2 docdescrip" style="padding-top: 5px; overflow-wrap: break-word;">
                                @Html.Raw(System.Web.HttpUtility.HtmlDecode(p.highlightedContent).Replace("<br />", "\r\n"))
                            </div>

                            <div class="float-right" style="display:flex;">
                                <div>
                                    @{
                                        var splitVals = p.url.Split('/');
                                        var Phase = splitVals[4];
                                        var SubPhase = string.Empty;
                                        @if (Phase == "Adopt")
                                        {
                                            SubPhase = splitVals[5];
                                        }
                                    }

                                    <button type="submit" class="btn btn-primary" id="btnupload" onclick="@("window.location.href='" + @Url.Action("DownloadDocument", "Home", new { url = p.url, phase=Phase,subphase=SubPhase }) + "'");">
                                        <i class="fa fa-download" aria-hidden="true"></i>  Download
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card mb-3">
                    <div class="card-body docrepo">
                        <div class="row col-md-12">

                            <div class="form-check" style="display:flex">
                                <p>No Records found</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        debugger;
        var search = $('#search').val();
        //highlight(search);
        TextWrap();
    });

</script>
