@model MicrofyWebApp.Models.AuditViewModel

<div class="row col-md-12">
    <div class="form-group col-md-12 row ">
        <label class="control-label col-md-3">
            <strong>Customer Overview</strong>
        </label>
        <label class="control-label col-md-9">
            @{
                var val = string.Empty;
                if (Model.ProjectDetails.CustomerOverview != null)
                    val = Model.ProjectDetails.CustomerOverview;
            }
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(val).Replace("<br />","\r\n" ))
        </label>

    </div>
    <div class="form-group col-md-12 row">
        <label class="control-label col-md-3">
            <strong>Application Overview</strong>
        </label>
        <label class="control-label col-md-9">
            @{
                var appval = string.Empty;
                if (Model.ProjectDetails.ProjectOverview != null)
                    appval = Model.ProjectDetails.ProjectOverview;
            }
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(appval).Replace("<br />","\r\n" ))
        </label>

    </div>
    <div class="form-group col-md-12 row">
        <label class="control-label col-md-3">
            <strong>Start Date</strong>
        </label>
        <label class="control-label col-md-3">
            @Model.ProjectDetails.ProjectStartDate
        </label>

        <label class="control-label col-md-3">
            <strong>Tentative End Date</strong>
        </label>
        <label class="control-label col-md-3">
            @Model.ProjectDetails.TentativeEndDate
        </label>

    </div>
    <div class="form-group col-md-12 row">
    <label class="control-label col-md-3">
        <strong>Deliverables</strong>
    </label>
    <label class="control-label col-md-3">
            @Model.ProjectDetails.ProjectDeliverables
    </label>

    <label class="control-label col-md-3">
        <strong>Application Architecture</strong>
    </label>
    <div class="col-md-3">
            @{
                string url = string.Empty;
                url = System.Web.HttpUtility.UrlDecode(Model.ProjectDetails.ApplicationArchitecture);
            }
            @if (url != "")
            {
            <span class="tag badge rounded-pill bg-info">
                <span>@Html.Raw(System.IO.Path.GetFileName(url))</span>
                <a href="#" style="padding-left:3px;" onclick="@("window.location.href='" + @Url.Action("DownloadDocument", "Repository", new { url = url, phase="Application",subphase=Model.project.ProjectName,flag="Application" }) + "'");"><i class="fa fa-download" title="Download" aria-hidden="true"></i></a>
            </span>
            }
    </div>
    </div>
    <div class="form-group col-md-12 row">
        <label class="control-label col-md-3">
            <strong>Technologies in Use</strong>

        </label>
        <label class="control-label col-md-9">
            @{
                var techval = string.Empty;
                if (Model.ProjectDetails.ProjectOverview != null)
                    techval = Model.ProjectDetails.TechnologiesInUse;
            }
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(techval).Replace("<br />","\r\n" ))
        </label>

    </div>
    <div class="form-group col-md-12 row">
        <label class="control-label col-md-3">
            <strong>Azure Services Used</strong>
        </label>

    </div>
    <div class="form-group col-md-12 row">
        <table cellpadding="5" cellspacing="0" style="margin-left:15px; border: 1px solid #ccc; font-size: 11pt;" id="tbservice" class="table table-bordered table-hover" name="AzureServicesUsed">
            <thead class="thead-light">
                <tr>
                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Product Category</th>
                    <th style="background-color: #B8DBFD; border: 1px solid #ccc">Services</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var ser in Model.ProjectDetails.AzureServicesUsed.Select((value, i) => new { i, value }))
                {
                    <tr data-row="@ser.i+1">
                        <td name="ProductCategory" style="width: 120px; border: 1px solid #ccc">@ser.value.ProductCategory</td>
                        <td name="Services" style="width: 120px; border: 1px solid #ccc">@ser.value.Services</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
