@model MicrofyWebApp.Models.UserViewModel
@{
    var status = "";
    ViewData["Title"] = "Users";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Welcome to Cumulus</title>
    <link rel="stylesheet" href="~/lib/jquery/dist/css/jquery-confirm.css" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


    <!-- jQuery library file -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" media="screen" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' />

    <!-- Datatable plugin CSS file -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <!-- Datatable plugin JS library file -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-confirm.js"></script>


    <style type="text/css">
        .modal-dialog {
            right: auto;
            left: 0% !important;
            width: 600px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .justify-content-lg-center {
            justify-content: left !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="imglogo" style="display:flex;">
            <img id="img_logo" alt="Logo" src="~/Image/Cumulus.png" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");" />
            <div class=" col-lg-8" style="padding-top:40px">
                <center><h2><b>User Management</b></h2></center>
            </div>
        </div>
        <!--HTML table with student data-->
        <table id="tableID" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Project Name</th>
                    <th>Customer Name</th>
                    <th>IsActive</th>
                    <th data-orderable="false"></th>
                    <th data-orderable="false"></th>
                    <th data-orderable="false" style="border-bottom:0px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usr in Model.usersDetails)
                {
                    <tr>

                        <td>@usr.username</td>
                        <td>@usr.fullName</td>
                        <td>@usr.userRole</td>
                        @foreach (var p in usr.projects)
                        {
                            <td>@p.projectName.</td>
                            <td>@p.customerName</td>
                        }
                        @if (usr.isActive) { status = "checked"; } else { status = ""; }
                        <td>
                            <label class="switch">
                                <input type="checkbox" @status class="togglecheckbox" data-username="@usr.username">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td style="display:none;">
                            <input name="pwd" type="password" class="pwd" value="@usr.password" />
                        </td>
                        <td>
                            <a href="" class="edit" title="Edit User">
                                <span class="glyphicon glyphicon-edit" style="font-size:25px;"></span>
                            </a>
                        </td>
                        <td>
                            <a href="" class="resetpwd" title="Reset Password">
                                <span class="glyphicon glyphicon-lock" style="font-size:25px;"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-4 control-label" style="padding-bottom:15px;">
                <button type="button" id="btnBack" onclick="@("window.location.href='" + @Url.Action("Dashboard", "Home") + "'");" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"></span> BACK</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UserEditPopup" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Edit User Details</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="well form-horizontal" action=" " method="post" id="UpdateUserList_form">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Userid</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input name="userid" id="userid" placeholder="Userid" class="form-control" type="email" required readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"><span style="color:red;">*</span>  Full Name</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="first_name" id="first_name" placeholder="User Name" class="form-control" type="text" required>
                                        <span data-alertid="first_name"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label"><span style="color:red;">*</span>  Role</label>
                                <div class="col-md-6 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select name="role" id="role" class="form-control selectpicker" required>
                                            <option value="">Select Role</option>
                                            <option value="Administrator">Administrator</option>
                                            <option value="User">User</option>
                                            @*<option>Auditor</option>*@
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label"><span style="color:red;">*</span>  Customer Name</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="cust_name" id="cust_name" placeholder="Customer Name" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label"><span style="color:red;">*</span>  Project Name</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="project_name" id="project_name" placeholder="Project Name" class="form-control" type="text" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Status</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div class="input-group">
                                        <label class="switch">
                                            <input type="checkbox" id="statusCheck" class="togglecheckbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none;">
                                <label class="col-md-4 control-label">Password</label>
                                <div class="col-md-6 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="password" id="password" placeholder="" class="form-control" type="password">
                                    </div>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-md-4 control-label">
                                    <button type="submit" class="btn btn-warning">Update <span class="glyphicon glyphicon-send"></span></button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
<script type="text/javascript">
        /* Initialization of datatable */
        $(document).ready(function () {
            $('#tableID').DataTable({});

        });


        $('.togglecheckbox').change(function () {
            $(this).prop('checked');
            var username = $(this).data('username');
            $.ajax({
                type: "GET",
                url: "/Login/ActivateDeactivate",
                data: { "username": username },
                contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                success: function (data) {

                },
                error: function (data) {
                    console.log(JSON.stringify(data));
                }
            });
        });

   $('#UpdateUserList_form').submit(function () {
       var username = $('#first_name').val();
       var custname = $('#cust_name').val();
       var projectname = $('#project_name').val();
       var role = $('#role').val();
       var userid = $('#userid').val();
       var status = $(".switch").find("#statusCheck").is(":checked");
       var password = $('#password').val();
    var Projects = [{
        "ProjectName": projectname,
        "CustomerName": custname
    }];

    var UserDetails = {
        "username": userid,
        "password": password,
        "fullName": username,
        "userRole": role,
        "isActive": status,
        "projects": Projects
       }
       var ActivityTracker = {
           "UserName": userid,
           "ActivityType": "UpdateUser",
           "ActivityDetails": " has successfully modified user details for " +userid
       }

        var redirecturl = "/Login/UpdateUser";
       $.post(redirecturl, { "users": UserDetails, "activityTracker": ActivityTracker }, function (data) {
            var title = "";
            var type = "";
            if (data.statusCode == true) {
                title = "Success!!";
                type = "green";
            }
            else {
                title = "Error!!";
                type = "red";
            }
            $.alert({
                    title: title,
                    content: data.responseMessage,
                    type: type,
                    onAction: function () {
                        window.location.href = '@Url.Action("ListUser","Login")';
                    }
                });
        })
        .fail(function (response) {
           $.alert({
                title: 'Error!!',
                content: response,
                alignMiddle: true,
                type: 'red'
            });
        });
    return false;


});
</script>
